<%- include ('includes/head.ejs') %> 
<%- include ('includes/header.ejs') %>

    <h2><%= data.naam %></h2>
    <p><%= data.bio %></p>
    <p>Geslacht: <%= data.geslacht %> </p>
    <p>leeftijd: <%= data.leeftijd %> </p>
    <p><a href="/profiles/">Back to list</a></p>

<%- include ('includes/footer.ejs') %>
    
